    header{
        border-bottom: 2px solid yellow;
    }

    input{
        border-radius: 10px;
        border-color: yellow;
        box-shadow: 0.5px 0.5px 0.5px 1px yellow;

        width: 240px;
        height: 32px;

        text-align: center;

        font-family: 'Playpen Sans', cursive;
        color: black;
    }

    #headline {
        font-family: 'Playpen Sans', cursive;
        font-size: 32px;    

        cursor: pointer;
    }
    
    #header {
        height: 80px;
        width: 100%;

        display: flex;
        justify-content: space-around;
        align-items: center;

        margin-bottom: 8px;

        padding: 32px 0;
    }

    #pikachu {
        height: 64px;
        width: 64px;
        background: none;

        cursor: pointer;
    }